* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-image: url('https://64.media.tumblr.com/6c0b82fc520a988fb4304ccf9d8c233e/1d1083df0041f11e-7e/s2048x3072/e8925e66c2b0906487c668c1c27bf0229e96cd4a.gif');
}
